{% extends '::admin_header.html.twig' %}

{% block body -%}
    <h1>Realisation creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_realisation_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
