{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="span12">
            <h2>Les téléchargement</h2>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <img class="top-box-accueil-img" src="{{ asset('bundles/siccfront/img/download_1.jpg') }}">
        </div>
        <p class="span9">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper dolor eu orci auctor mattis. Nullam eget pretium velit. Nullam vestibulum luctus sollicitudin. Mauris fermentum mauris urna, vel imperdiet nunc fringilla et. Aliquam consectetur malesuada dolor, accumsan aliquam est laoreet vitae. Duis vel sapien eget enim aliquet tempus suscipit vel arcu. Quisque mauris nibh, mollis id sodales at, egestas in tortor. Fusce a mi vel ante vehicula commodo. Sed et erat nunc. Suspendisse volutpat orci turpis, et pharetra libero suscipit ut. Nunc ullamcorper nisi ac enim semper, et dapibus nisl dictum. Nunc sollicitudin vulputate ligula at malesuada. Quisque luctus libero eros, egestas laoreet enim malesuada vehicula.
        </p>
    </div>
    <div class="row">
        <div class="span4 border-h3"></div>
        <div class="span4"><h3>Téléchargements accessibles</h3></div>
        <div class="span4 border-h3"></div>
    </div>
    <div class="row">
        {% for fichier in fichiers %}
            <div class="span2 link-download-fichier">
                <a href="{{ asset('fichiers/'~fichier.url) }}" class="row btn btn-success clear">
                    <i class="fa fa-4x fa-download"></i>
                </a>
                <div class="row">
                    <h5 class="clear nom-fichier-download">{{ fichier.titre }}</h5>
                </div>
                <div class="row">
                    <p class="span2">{{ fichier.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}