/*Override Bootstrap*/
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin-right: auto;
    margin-left: 170px;
    width: 67%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 15px;
    border: 5px solid #212121;
    padding: 15px;
}
.navbar .nav{
    border: none;
    width: 800px;
    display: block;
    margin: auto;
    left: auto;
    float: none;
    margin-bottom:40px;
    border-top:solid 1px #FFF;
    padding:5px;
    margin-top:15px;
 }
.navbar .nav li a{
    color: #6c6159;
    text-shadow: none;
    padding-bottom:10px;

}
.navbar .nav li a:hover{
    color: #262626;
    border-bottom:solid 5px #FFF;
    padding-bottom:5px;

}
.navbar-fixed-top, .navbar-fixed-bottom{
    position: relative;
    font-family: 'Oswald', sans-serif;
}
.navbar .navbar-inner{
    background: none;
    background-color: #F7F7F7;
}
/*All*/
body {

    padding-bottom: 40px;
    background : #f7f7f7;

}
#logo-header{

    color: #6c6159;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin: auto;
    margin-top: 25px;
    width: 650px;
    background-image:url('../images/logo_sicc_simple_small.png');
    background-repeat: no-repeat;
    height: 60px;

}
#logo-header .ligne1{
    padding-left:80px;
}
.ligne1 span{
    color: #e41822;
}
#logo-header .ligne2{
    font-size: 18px;
    padding-left:55px;
}
#logo-header img{
    float: left;
    height:50px;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #454545;
}
h2{
    font-size: 25px;
}
h3{
    text-align: center;
    font-size: 17px;
    color: #e41822;
}
.row .border-h3{
    color: #e41822;
    background: none;
    background-color: #e41822;
}
h5{
    font-size: 14px;
    margin: 0 0 1.2em;
}
h4{
    font-size: 17px;
    color: #212121;
    text-transform: uppercase;
    margin: 0 0 1.2em;
}
h5{
    font-size: 15px;
    line-height: 1.2em;
    margin-bottom: .2em;
    text-transform: none;
    border: none;
    padding-bottom: 0;
    letter-spacing: 0;
}
p{
    text-align: justify;
    font: 100%/1.5em Arial, Helvetica, sans-serif;
}
.border-h3{
    height: 5px;
    background: #dfdcdc;
    top: 27px;
    position: relative;
}
.divider{
    height: 5px;
    overflow: hidden;
    background: #dfdcdc;
    font-size: 0;
    line-height: 0;
    width: 100%;
    margin: 26px auto 26px auto;
}
/*Override Pretty-photo*/
.cs-title{
    width: 100%;
}
/*Accueil*/
.bloc-black-accueil{
    background: #000000;
}
#coin-slider{
    margin-top: 15px;
}
.row > [class*="span"] .inner {
    border:5px solid #dfdcdc;
}
#container-top-box-accueil{
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-box-accueil-title{
    text-align: center;
    border-bottom:5px solid #dfdcdc;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 18px 9px;
    color: #212121;
    text-align: center;
    letter-spacing: -1px;
    border-bottom: 5px solid #dfdcdc;
    position: relative;
}
.top-box-accueil-content{
    padding: 10px;
}
#content-second-bloc-acceuil{
    /*margin-top: 45px;*/
}
.top-box-accueil-img{
    opacity: 1;
}

/*Realisation details*/
#wrapper-realisation-detail{
    margin-top: 15px;
}
.label-realisation-detail{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    display: block;
    float: left;
    width: 34%;
}
.info-realisation-detail{
    margin-bottom: 25px;
}

/*Article*/
#titre-article-focused{
    font-size: 15px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0;
}

.article-preview{
    margin-bottom: 25px;
}

.divider-article{
    height: 5px;
    overflow: hidden;
    background: #dfdcdc;
    margin-top: 20px;
}

.btn-see-more-article{
    margin-top: 20px;
}

/*Article focus*/
#list-mini-article{
    margin-top: 30px;
}

#wrapper-focus-article{
    margin-top: 30px;
}

#wrapper-img-focus-article{
    margin-bottom: 15px;
}

#wrapper-img-focus-article img{
    max-height: 380px;

}

.wrapper-mini-news{
    padding: 25px;
    border: 5px solid #dfdcdc;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper-mini-news h5{
    margin-bottom: 25px;
}

.wrapper-mini-news h5 a{

    color: #454545;;
}

.wrapper-mini-news-img{
    margin-right: 25px;
    margin-bottom: 25px;
}
/*Contact*/

.contact-form-textarea{

    min-height: 150px;
    max-height: 350px;
}

.info-contact{
    margin-top: 15px;
}

#wrapper-googlemaps{
    text-align: left;
}

.link-download-fichier{
    text-align: center;
}

.nom-fichier-download{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Footer*/
#copyright{

}
.icn-rs-footer{
    width: 7%;
}